.main-table {
  /* position: fixed;
  /* z-index: 1000; */
  /* background-color: white; */
  box-sizing: border-box;
  border-radius: 10px;
  /* max-width: 80vw;
  width: 600px;
  max-height: 100%;
  padding: 0px 15px 0px 15px;
  left: 15%;
  border: 1px solid black;
  border-radius: 3px; */
}

.main-table .ag-cell-label-container .header-black {
  background-color: #fff;
  color: #000;
  font-size: 20px;
}
