.layout {
  position: fixed;
  z-index: 1000;
  /* max-width: 80vw; */
  /* width: 100%; */
  max-height: 100%;
  max-width: 80vw;
  /* padding: 0px 5px 0px 5px; */
  /* padding: 5px; */

  left: 40%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 6px;

  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: white;
  color: rgba(0, 0, 0, 0.87);
}

/* @media (min-width: 600px) {
      .layout {
        width: 300px;
        left: calc(50% - 250px);
      }
    }
    
     */

/* 
    @media screen and (min-width: 1920px) {
      .layout {
        width: 600px;
        max-height: 100%;
        background: #fff 0% 0% no-repeat padding-box;
        opacity: 1;
        left: calc(50% - 250px);
      }
    } */
.Hav {
  /* width: 300px; */
  /* background: white; */
  /* font-size: 40px; */
  /* width: 100px; */
  /* background-color: brown !important; */
  /* margin: 100px auto; */
  /* padding: 10px; */
  cursor: pointer;
}
/* .Confirmmessage_Hav__qrIDO > .Hav:hover {
    background-color: gray !important;
  } */

/* .Hav {
    background-color: #fff !important;
    color: black;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    height: 35px;
    border-radius: 4px;
    overflow: visible;
    display: flex;
    align-items: space-between;
    font-family: Muli, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 80px !important;
  } */
