.Mod {
  position: fixed;
  z-index: 1000;
  /* max-width: 80vw; */
  width: 370px;
  /* max-height: 100%; */
  padding: 0px 18px 0px 18px;
  left: 40%;
  top: 40%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 4px;

  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: white;
  color: rgba(0, 0, 0, 0.87);
}

/* 
    @media screen and (min-width: 1920px) {
      .Mod {
        width: 600px;
        max-height: 100%;
        background: #fff 0% 0% no-repeat padding-box;
        opacity: 1;
        left: calc(50% - 250px);
      }
    } */
