.main {
  position: absolute;
  left: 4%;
  /* top: 2%; */
  z-index: 1000;
  width: 1800px;
  padding: 0px 18px 0px 18px;
  min-height: 250px;
  max-width: 80vw;
  max-height: 1900px;
  /* margin-top: 10px; */
  /* left: 40%;
  top: 40%; */
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: white;
  color: rgba(0, 0, 0, 0.87);
  pointer-events: auto;
}

.main .divDow {
  height: 890px;
  margin: 0px;
  width: 100%;
  max-width: 80vw;
}

.main .divDow .newRow {
  background-color: #01396b;
  color: white;
  height: 64px;
  display: flex;
  padding: 15px;
  margin-top: 20px;
}

.main .divDow .newRow .header {
  display: flex;
  align-items: center;
}

/* .main .divDow .newRow .header .closebtn {
  margin-left: 1500px;
  color: #fff;
  font-weight: 800;
  margin-top: 2px;
  font-size: 20px;
  cursor: pointer;
} */

.main .divDow .mainContent {
  display: flex;
  align-items: space-around;
  padding: 20px;
}

/* .main .divDow .mainContent Button {
  background-color: #01396b !important;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: bottom;
  margin: 0;
  height: 40px;
  width: 65px;
  padding: 0 20px;
  border-radius: 4px;
  overflow: visible;
} */
