.main-table .ag-theme-alpine {
  background-color: #f5f5f5;
}

.main-table .ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  background-color: white;
  color: black;
  font-size: 15px;
}

.main-table .ag-theme-alpine .ag-root-wrapper {
  border-radius: 15px;
  margin-top: -3.5%;
}

.main-table .ag-theme-alpine [class^="ag-"],
.ag-theme-alpine [class^="ag-"]:focus,
.ag-theme-alpine [class^="ag-"]:after,
.ag-theme-alpine [class^="ag-"]:before {
  border-color: #fff;
}

/* .main-table .ag-row {
  height: 60px !important;
} */

.main-table
  .MuiButtonBase-root
  .MuiButton-root
  .MuiButton-contained
  .makeStyles-button-111 {
  height: 39px;
}
