.Modal {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  max-width: 80vw;
  width: 600px;
  max-height: 100%;
  padding: 0px 15px 0px 15px;
  left: 40%;
  top: 30%;
  transition: all 0.3s ease-out;
  /* border: 1px solid black; */
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
}

.closeButton {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 8px;
  border: none;
  display: inline-block;
  background-color: #0f243e;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
  margin: 7px 0px 10px 0px;
  text-align: right;
  margin-left: 95px;
}

.crew {
  margin: 7px 140px 10px 10px;
  font-size: 12px;
  width: 81px;
  height: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/* .header {
  color: #0f243e;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: -10px;
  font-weight: 1000;
  text-align: center;
} */

/* .MRGNTP5 {
  margin-top: 5px;
  text-align: center;
} */

/* .Input {
  width: 60px;
  border: 1px solid black;
} */

/* @media (min-width: 600px) {
  .Modal {
    width: 300px;
    left: calc(50% - 250px);
  }
} */

.NOTOCBtn {
  margin: 0px;
  width: 16px;
  font-family: inherit;
  font-size: 12px;
  letter-spacing: 0px;
}

.DOWHeaderBtns {
  margin: 5% 0px 0px 0px;
  padding: 2px 0px 3px 0px;
  height: 22px;
  width: 55px;
}
/* 
@media screen and (min-width: 1920px) {
  .Modal {
    width: 100%;
    max-height: 100%;
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
    left: calc(50% - 250px);
  }
} */
