.general-repo-table .ag-theme-alpine {
  background-color: #f5f5f5;
}

.general-repo-table .ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  background-color: white;
  color: black;
  font-size: 15px;
}

.general-repo-table .ag-theme-alpine .ag-root-wrapper {
  border-radius: 15px;
  margin-top: -3.5%;
}

.general-repo-table .ag-theme-alpine [class^="ag-"],
.ag-theme-alpine [class^="ag-"]:focus,
.ag-theme-alpine [class^="ag-"]:after,
.ag-theme-alpine [class^="ag-"]:before {
  border-color: #fff;
  border: 0.5px;
}

.general-repo-table .ag-row {
  height: 54px !important;
  margin-top: -24px;
}

.general-repo-table .ag-center-cols-container .ag-row-first {
  margin: auto;
}

.general-repo-table
  .MuiButtonBase-root
  .MuiButton-root
  .MuiButton-contained
  .makeStyles-button-111 {
  height: 36px;
}

.general-repo-table .ag-row-position-absolute {
  position: relative;
}

.general-repo-table .alternate-row-color {
  background-color: whitesmoke !important;
}

.ag-icon,
.ag-menu {
  color: black;
}

.general-repo-table .ag-theme-alpine .ag-paging-panel {
  padding-bottom: 9%;
}
