* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sidebar */
.nav {
  height: 64px;
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

.sidebarNav {
  background: white;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: 350ms;
  z-index: 10;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.sidebar-main-head {
  /* position: fixed; */
  top: 0;
}

.sidebar-head {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-around;
  min-height: 64px;   
  max-height: 64px;
  height: 64px;
  padding: 12px 12px 12px 20px;
}

.sidebar-head-btn:hover {
  cursor: pointer;
}

.sidebarLink {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 24px;
  list-style: none;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
}

.sidebarLink:hover {
  cursor: pointer;
}

.dropdownLink {
  background: inherit;
  height: 40px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.arrowDiv {
  display: flex;
  justify-content: flex-end;
}


.Footer {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  background-color: #fff;
}

.drawerfooter {
  text-align: center;
  font-size: 14px;
  word-break: break-word;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:hover {
  width: 15px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.sidebarScroll {
  overflow-y: scroll !important;
}

.defaultHeadIcon {
  width: 64px;
  height: 100%;
  border-right: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  color: black !important;
  font-weight: normal !important;
}

.sidebarLink>div>svg,
.dropdownLink>svg {
  font-size: 16px !important;
}

@media (min-width: 1025px) {
  .show {
    width: 280px;
  }

  .hide {
    width: 64px;
  }

  .headerIcon {
    display: none;
  }

  .headerIcondashboard {
    display: block;
  }

  .headerWidth {
    width: 100%;
    margin-left: 0;
  }

  .trueHead {
    width: calc(100% - 280px);
    margin-left: 280px;
  }

  .falseHead {
    width: calc(100% - 64px);
    margin-left: 64px;
  }
}

@media (max-width: 1025px) {
  .show {
    width: 280px;
  }

  .hide {
    width: 0;
  }

  .headerIcon {
    display: flex;
  }

  .headerIcondashboard {
    display: none;
  }

  .headerWidth {
    width: 100%;
    margin-left: 0;
  }

  .displayFooter {
    display: none;
  }
}