#login {
  width: 100%;
  height: 100vh;
  background: url("/src/components/assets/images/backgrounds/dark-material-bg.jpg")
    no-repeat;
  background-size: cover;
}

#login #login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login #login-form-wrapper #login-form {
  width: 380px;
  height: 400px;
  padding: 32px;
  text-align: center;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
    0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  background: #fff;
}

#login #login-form-wrapper #login-form .logo {
  width: 128px;
  margin: 32px auto;
}

#login #login-form-wrapper #login-form .logo .logo-icon {
  margin-bottom: 25px;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

#login #login-form-wrapper #login-form .title {
  font-size: 20px;
  margin: 16px 0 32px 0;
}

#login #login-form-wrapper #login-form .title h3 {
  font-size: 16px;
  font-weight: normal;
}

#login #login-form-wrapper #login-form form {
  width: 100%;
}

/* #login #login-form-wrapper #login-form form .submit-button {
  width: 200px;
  margin: 16px auto;
  display: block;
} */

.button-wrap .css-1fdtm3d {
  background-color: #01396b !important;
  color: #fff;
  margin-top: 20px;
  align-items: center;
}
