.reasoncode-table .ag-theme-alpine {
  background-color: #f5f5f5;
}

.reasoncode-table .ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  background-color: white;
  color: black;
  font-size: 15px;
}

.reasoncode-table .ag-theme-alpine .ag-root-wrapper {
  border-radius: 15px;
  margin-top: -2%;
}

.reasoncode-table .ag-theme-alpine [class^="ag-"],
.ag-theme-alpine [class^="ag-"]:focus,
.ag-theme-alpine [class^="ag-"]:after,
.ag-theme-alpine [class^="ag-"]:before {
  border-color: #fff;
  border: 0.5px;
}

.reasoncode-table .ag-row {
  height: 48px !important;
  margin-top: -24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.reasoncode-table .ag-center-cols-container .ag-row-first {
  margin: auto;
}

.reasoncode-table .MuiButtonBase-root .MuiButton-root .MuiButton-contained .makeStyles-button-111 {
  height: 36px;
}

.reasoncode-table .ag-row-position-absolute {
  position: relative;
}

.reasoncode-table .ag-center-cols-container {
  height: 100% !important;
}

.reasoncode-table .alternate-row-color {
  background-color: whitesmoke !important;
}

.reasoncode-table .ag-theme-alpine .ag-paging-panel {
  padding-bottom: 25%;
}

.reasoncode-table .ag-icon,
.ag-menu {
  color: black;
}

.reasoncode-table .ag-header-cell-label {
  justify-content: left !important;
  padding-left: 23px !important;
  font-size: 16px !important;
}

.reasoncode-table .ag-cell {
  padding-left: 24px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
<<<<<<< HEAD
.reasoncode-table .ag-row-position-absolute > div {
  max-height: 42px;
}
.ag-cell:last-child{
  overflow: visible ;
}
.ag-cell:last-child .Modal:last-child {
  position: absolute;
  transform: translateX(-50%);
  left: calc(50% - 40px);
  top: auto;
  bottom: 110%;
}
.AddEditModel_Modal__h-4ul{
  top: 6%;
  z-index:99999;
}
.reasoncode-table .ag-row-position-absolute {
  position: static;
  transform: none !important;
  margin-bottom: 30px;
}
.reasoncode-table .ag-row-position-absolute > div {
  max-height: 42px;
}
.ag-cell:last-child{
  overflow: visible ;
}
.ag-cell:last-child .Modal:last-child {
  position: absolute;
  transform: translateX(-50%);
  left: calc(50% - 40px);
  top: auto;
  bottom: 110%;
}
.AddEditModel_Modal__h-4ul{
  top: 6%;
  z-index:99999;
=======

.reasoncode-table .ag-theme-alpine .ag-filter-toolpanel-header,
.ag-theme-alpine .ag-filter-toolpanel-search,
.ag-theme-alpine .ag-status-bar,
.ag-theme-alpine .ag-header-row,
.ag-theme-alpine .ag-panel-title-bar-title,
.ag-theme-alpine .ag-multi-filter-group-title-bar {
  font-weight: 600 !important;
>>>>>>> d7ecea9f1fd3f7e432a471b5e161bf7ea845e84f
}