.reasoncode-table .ag-theme-alpine {
  background-color: #f5f5f5;
}

.reasoncode-table .ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  background-color: white;
  color: black;
  font-size: 15px;
}

.reasoncode-table .ag-theme-alpine .ag-root-wrapper {
  border-radius: 15px;
  margin-top: -2%;
}

.reasoncode-table .ag-theme-alpine [class^="ag-"],
.ag-theme-alpine [class^="ag-"]:focus,
.ag-theme-alpine [class^="ag-"]:after,
.ag-theme-alpine [class^="ag-"]:before {
  border-color: #fff;
  border: 0.5px;
}

.reasoncode-table .ag-row {
  height: 54px !important;
  margin-top: -24px;
}

.reasoncode-table .ag-center-cols-container .ag-row-first {
  margin: auto;
}

.reasoncode-table
  .MuiButtonBase-root
  .MuiButton-root
  .MuiButton-contained
  .makeStyles-button-111 {
  height: 36px;
}

.reasoncode-table .ag-row-position-absolute {
  position: relative;
}

.reasoncode-table .ag-center-cols-container {
  height: 100% !important;
}

.reasoncode-table .alternate-row-color {
  background-color: whitesmoke !important;
}

.reasoncode-table .ag-theme-alpine .ag-paging-panel {
  padding-bottom: 25%;
}

<<<<<<< HEAD
.reasoncode-table .ag-header-cell-label,
.reasoncode-table .ag-cell {
  justify-content: left !important;
  padding: 0 0 0 24px !important;
}
.reasoncode-table .ag-row-position-absolute {
  position: static;
  transform: none !important;
  margin-bottom: 30px;
}
.reasoncode-table .ag-row-position-absolute > div {
  max-height: 42px;
}
.ag-cell:last-child{
  overflow: visible ;
}
.ag-cell:last-child .Modal:last-child {
  position: absolute;
  transform: translateX(-50%);
  left: calc(50% - 40px);
  top: auto;
  bottom: 110%;
}
.AddEditModel_Modal__h-4ul{
  top: 6%;
  z-index:99999;
}
=======
.ag-icon,
.ag-menu {
  color: black;
}
>>>>>>> a1c0250d315326f8254a87c87c34facfad71559e
