.mainPage {
  position: absolute;
  left: 4%;
  top: 50px;
  z-index: 1000;
  width: 1800px;
  padding: 25px 18px 0px 18px;
  min-height: 250px;
  max-width: 80vw;
  max-height: 1900px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: white;
  color: rgba(0, 0, 0, 0.87);
  pointer-events: auto;
}

/* .mainPage .Dowcls {
  height: 860px;
  margin: 0px;
  width: 100%;
  max-width: 80vw;
}

.mainPage .Dowcls .RowClas {
  background-color: #01396b;
  color: white;
  height: 64px;
  display: flex;
  padding: 15px;
  margin-top: 20px;
} */

/* mainPage .Dowcls .RowClas .headerClsClsClsClsCls {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
} */

.mainPage .Dowcls .mainPageContent {
  display: flex;
  align-items: space-around;
  padding: 20px;
}

.mainPage .Dowcls .RowClas .headerCls {
  display: "flex";
  justify-content: "space-between";
  align-items: center;
}
