.MapModal {
  position: fixed;
  background-color: inherit;
  height: 800px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  /* border-radius: 3px; */
  border-color: #fff;
}

.Mav .ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  background-color: white;
  color: black;
}

.container .Mapadd_Mav__ZQpRX .ag-theme-alpine [class^="ag-"],
.ag-theme-alpine [class^="ag-"]:focus,
.ag-theme-alpine [class^="ag-"]:after,
.ag-theme-alpine [class^="ag-"]:before {
  background-color: #fff;
  color: #000;
}

.MapModal .ag-theme-alpine .ag-root-wrapper {
  border-color: #fff;
}

.MapModal .makeStyles-root-560 {
  /* color: trans */
  border-color: 1px solid black !important;
  /* height: 13px;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
  background-color: transparent; */
}
