body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.add-template {
  position: fixed;
  z-index: 999;
  top: 120px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-template .Template_Modal__v0WXL {
  position: static;
  transform: translateY(0vh) !important;
}
.add-template .Template_Modal__v0WXL {
  transform: translateY(0vh) !important;
}
.add-template .Template_Modal__v0WXL{
  min-width: 500px;
}
.add-template .Template_Modal__v0WXL .close-button svg{
  transform: translateY(0px) !important;  
  margin: 0 !important;
}
.simple {
  min-height: 200px;
  max-height: 100%;
  overflow-y: scroll;
}
.save-template {
  padding: 20px 0;
}
@media screen and (max-width:1199px){
  .add-model {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Template_Modal__Q-WV4 .close-icon svg.MuiSvgIcon-root {
  transform: translateY(0px) !important;
  margin: 0px 0 0 150px !important;
}
.add-model .Template_Modal__Q-WV4{
  position:static !important;
  transform: scale(1) translate(0px, 10px) !important;
}

}
@media screen and (max-width:1024px) {
  .add-template .Template_Modal__v0WXL{
    min-width: 400px;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.makeStyles-button-67.makeStyles-custom-68.css-1fdtm3d.MuiButton-disableElevation {
    margin-left: 295px;
  }
}
@media screen and (max-width:991px){
  .Template_Modal__Q-WV4{
    overflow: hidden;
  }
  .Template_Modal__Q-WV4 .close-icon svg.MuiSvgIcon-root {
    transform: translateY(0px) !important;
    margin: 0px 0 0 160px !important;
  }
  .Template_Modal__Q-WV4{
    top: 50% !important;
    left: 50% !important;
  }
}
@media screen and (max-width:767px){
  .header-main{
    flex-wrap: wrap;
  }
  .header-main div{
    width: 100%;
    text-align: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 14px !important  ;
  } 
  .makeStyles-style-193 .MuiInputBase-root {
    margin: 10px;
  }
  .list-item{
    justify-content: center !important;
    font-size: 14px !important;
  }
  .search-menu .makeStyles-style-37 .MuiInputBase-root{
    margin: 10px;
  }
  .MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl {
    margin-top: 10px;
}
.menu-items .search-icon {
  width: 30% !important;
  justify-content:flex-end;
}
}
@media screen and (max-width:575px){

.Template_Modal__Q-WV4 {
  max-width: 225px !important;
  transform: scale(1) translate(0px, 10px) !important;
}
.save-button.col {
  margin: 0 !important;
}
.close-icon h3 {
  font-size: 16px;
}
.Template_Modal__Q-WV4 .close-icon svg.MuiSvgIcon-root {
  transform: translateY(0px) !important;
  margin: 0px 0 0 16px !important;
}
.add-template .Template_Modal__v0WXL{
  min-width:250px !important; 
}
.simple .row div {
  margin-left: 0 !important;
}
.save-template button{
  margin: 0 !important;
}
}